ul,
li {
	list-style: none;
}

body {
	line-height: 1;
}

html,
body,
div,
span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

header,
footer,
main {
	display: block;
}